:root {
  --brand-color: #5D50C6;
  --title-text-color: #191825;
  --primary-text-color: rgba(25, 24, 37, 0.5);
  --secondary-text-color: #222831;
  --primary-bg-color: #E8E8E8;
  --primary-font-family: "Circular Std";
  --secondary-font-family: "Inter";
  --transition-property: 150ms ease-in-out;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

@font-face {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/CircularStd-Light.woff2") format("woff2"), url("../fonts/CircularStd-Light.woff") format("woff");
}
@font-face {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
}
@font-face {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
}
@font-face {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
}
@font-face {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Inter-VariableFont_slnt,wght.woff2") format("woff2"), url("../fonts/Inter-VariableFont_slnt,wght.woff") format("woff");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font-family), var(--secondary-font-family), sans-serif;
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6111111111;
  color: var(--primary-text-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.list {
  list-style: none;
}

.section {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
}

.container {
  min-width: 320px;
  margin: 0 auto;
  padding-left: 8px;
  padding-right: 8px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 430px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 896px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1200px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.6666666667;
  font-family: var(--primary-font-family);
  color: var(--title-text-color);
}
.logo__icon {
  width: 40px;
  height: 40px;
  animation: 10s linear 0s normal none infinite running rotate;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header {
  position: relative;
}

.shadow {
  display: none;
}
@media screen and (min-width: 1024px) {
  .shadow {
    display: block;
    position: absolute;
    left: -356px;
    top: -223px;
    height: 500px;
    width: 500px;
    background-color: #FF5722;
    border-radius: 50%;
    opacity: 0.5;
    filter: blur(250px);
  }
}
@media screen and (min-width: 1440px) {
  .shadow {
    display: none;
  }
}

.header-row {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
}

.nav {
  display: none;
}
@media screen and (min-width: 1440px) {
  .nav {
    display: flex;
  }
}
.nav__list {
  display: flex;
  gap: 64px;
  align-items: center;
}
.nav__link {
  color: var(--primary-text-color);
  transition: 0.15s ease-in-out;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2142857143;
}
.nav__link.home {
  color: var(--secondary-text-color);
}
.nav__link:hover {
  color: var(--brand-color);
}

.login {
  display: none;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
}
@media screen and (min-width: 1024px) {
  .login {
    display: flex;
  }
}
.login__button {
  width: 105px;
  height: 49px;
  border: 0;
  border-radius: 100px;
}
.login .log-in {
  font-family: var(--primary-font-family);
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2142857143;
  background-color: #FFFFFF;
  transition: var(--transition-property);
}
.login .log-in:hover {
  color: var(--brand-color);
}
.login .sign-up {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2142857143;
  color: #EEEEEE;
  background-color: var(--brand-color);
  transition: var(--transition-property);
}
.login .sign-up:hover {
  box-shadow: 0 0 1px 0 var(--brand-color) inset, 0 0 8px 4px var(--brand-color);
}

.mobile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  width: 40px;
  height: 40px;
  background-color: var(--brand-color);
  border-radius: 10px;
  box-shadow: 0 0 0 0 var(--brand-color);
  letter-spacing: 2px;
  transition: 0.15s ease-in-out;
  fill: #FFFFFF;
}
.mobile-menu:hover {
  box-shadow: 0 0 10px 0 var(--brand-color) inset, 0 0 10px 4px var(--brand-color);
  fill: black;
}
.mobile-menu__icon {
  width: 30px;
  height: 25px;
}
@media screen and (min-width: 1024px) {
  .mobile-menu {
    order: -1;
  }
}
@media screen and (min-width: 1440px) {
  .mobile-menu {
    display: none;
  }
}