:root {
  --brand-color: #5D50C6;
  --title-text-color: #191825;
  --primary-text-color: rgba(25, 24, 37, 0.5);
  --secondary-text-color: #222831;
  --accent-text-color: #F85E9F;
  --primary-bg-color: #FFFFFF;
  --primary-font-family: "Circular Std";
  --secondary-font-family: "Inter";
  --transition-property: 150ms ease-in-out;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

@font-face {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/CircularStd-Light.woff2") format("woff2"), url("../fonts/CircularStd-Light.woff") format("woff");
}
@font-face {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
}
@font-face {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
}
@font-face {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
}
@font-face {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Inter-VariableFont_slnt,wght.woff2") format("woff2"), url("../fonts/Inter-VariableFont_slnt,wght.woff") format("woff");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font-family), var(--secondary-font-family), sans-serif;
  font-style: normal;
  background-color: var(--primary-bg-color);
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6111111111;
  color: var(--primary-text-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.list {
  list-style: none;
}

.section {
  min-width: 360px;
  margin: 0 auto;
  padding: 0;
}
@media screen and (min-width: 1024px) {
  .section {
    max-width: 1024px;
  }
}
@media screen and (min-width: 1440px) {
  .section {
    max-width: 1440px;
  }
}

.container {
  min-width: 360px;
  margin: 0 auto;
  padding-left: 8px;
  padding-right: 8px;
  max-width: 420px;
}
@media screen and (min-width: 480px) {
  .container {
    max-width: 430px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 896px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1200px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.6666666667;
  font-family: var(--primary-font-family);
  color: var(--title-text-color);
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.loader-img {
  position: relative;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--brand-color);
}

.loader-img svg {
  height: 100%;
  position: absolute;
}

.loader-img svg.plane {
  width: 100%;
}

@-webkit-keyframes clouds {
  0% {
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
  }
  100% {
    -webkit-transform: translateX(-130px);
    transform: translateX(-130px);
  }
}
@keyframes clouds {
  0% {
    -webkit-transform: translateX(60px);
    transform: translateX(60px);
  }
  100% {
    -webkit-transform: translateX(-130px);
    transform: translateX(-130px);
  }
}
.loader-img svg.clouds {
  -webkit-animation: 4s linear infinite clouds;
  animation: 4s linear infinite clouds;
  width: 130px;
}

@-webkit-keyframes plane {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
}
@keyframes plane {
  0%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
  }
}
.loader-img svg.plane {
  -webkit-animation: 4s linear infinite plane;
  animation: 4s linear infinite plane;
}

.header-row {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-row::before {
  content: "";
  display: none;
}
@media screen and (min-width: 1024px) {
  .header-row::before {
    display: block;
    position: absolute;
    left: -356px;
    top: -223px;
    height: 500px;
    width: 500px;
    background-color: #FF5722;
    border-radius: 50%;
    opacity: 0.5;
    filter: blur(250px);
    z-index: -1;
  }
}
@media screen and (min-width: 1440px) {
  .header-row::before {
    display: none;
  }
}

.nav {
  display: none;
}
@media screen and (min-width: 1440px) {
  .nav {
    display: flex;
  }
}
.nav__list {
  display: flex;
  gap: 64px;
  align-items: center;
}
.nav__link {
  color: var(--primary-text-color);
  transition: 0.15s ease-in-out;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2142857143;
}
.nav__link.home {
  color: var(--secondary-text-color);
}
.nav__link:hover {
  color: var(--brand-color);
}

.login {
  display: none;
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2142857143;
}
@media screen and (min-width: 1024px) {
  .login {
    display: flex;
  }
}
.login__button {
  width: 105px;
  height: 49px;
  border: 0;
  border-radius: 100px;
  position: relative;
  display: inline-block;
}
.login .log-in {
  background-color: #FFFFFF;
  transition: var(--transition-property);
}
.login .log-in::before {
  position: absolute;
  content: "";
  border-radius: 100px;
  border: 2px solid #FFFFFF;
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: var(--brand-color);
  transition: 0.3s ease-out;
}
.login .log-in:hover::before {
  opacity: 1;
}
.login .log-in span {
  position: relative;
  display: inline-block;
  font-family: var(--primary-font-family);
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2142857143;
  transition: 0.2s;
}
.login .sign-up {
  background-color: var(--brand-color);
}
.login .sign-up::before {
  position: absolute;
  content: "";
  border-radius: 100px;
  border: 2px solid var(--brand-color);
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: #FFFFFF;
  transition: 0.3s ease-out;
}
.login .sign-up:hover::before {
  opacity: 1;
}
.login .sign-up span {
  position: relative;
  display: inline-block;
  font-family: var(--primary-font-family);
  color: #EEEEEE;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2142857143;
  transition: 0.2s;
}

.log-in:hover span {
  color: #EEEEEE;
}

.sign-up:hover span {
  color: var(--secondary-text-color);
}

.mobile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 0;
  padding: 0;
  background: none;
  fill: var(--brand-color);
  transition: 300ms ease-in;
}
.mobile-menu:hover {
  fill: #433991;
}
.mobile-menu:active {
  fill: #433991;
}
.mobile-menu__icon {
  width: 48px;
  height: 48px;
}
@media screen and (min-width: 1024px) {
  .mobile-menu {
    order: -1;
  }
}
@media screen and (min-width: 1440px) {
  .mobile-menu {
    display: none;
  }
}

.hero-wrapper {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 32px;
  padding-bottom: 32px;
}
@media screen and (min-width: 1440px) {
  .hero-wrapper {
    flex-direction: row;
    padding-top: 64px;
    padding-bottom: 64px;
  }
}

.promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 32px;
}
@media screen and (min-width: 1024px) {
  .promo {
    margin-top: 64px;
  }
}
@media screen and (min-width: 1440px) {
  .promo {
    width: 412px;
    height: 577px;
  }
}
.promo__link {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2142857143;
  color: var(--accent-text-color);
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: flex-end;
  padding: 16px 32px;
  gap: 16px;
  width: 224px;
  height: 56px;
  background: #FFFFFF;
  box-shadow: 0px 548px 219px rgba(0, 0, 0, 0.01), 0px 308px 185px rgba(0, 0, 0, 0.04), 0px 137px 137px rgba(0, 0, 0, 0.06), 0px 34px 75px rgba(0, 0, 0, 0.07), 0px 0px 0px rgba(0, 0, 0, 0.07);
  border-radius: 100px;
  transition: 250ms;
}
.promo__link .icon {
  width: 24px;
  height: 24px;
}
.promo__link:hover {
  box-shadow: 0px 81px 32px rgba(0, 0, 0, 0.01), 0px 45px 27px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.09), 0px 5px 11px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.promo__title {
  margin-top: 16px;
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: #000000;
  text-align: center;
}
.promo__title .accent {
  color: var(--accent-text-color);
}
@media screen and (min-width: 1024px) {
  .promo__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1964285714;
    margin-top: 43px;
    padding-left: 130px;
    padding-right: 130px;
  }
}
@media screen and (min-width: 1440px) {
  .promo__title {
    padding: 0;
    text-align: start;
    font-weight: 700;
    font-size: 69px;
    line-height: 1.1884057971;
  }
}
.promo__text {
  margin-top: 24px;
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .promo__text {
    margin-top: 43px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.6111111111;
  }
}
@media screen and (min-width: 1440px) {
  .promo__text {
    text-align: start;
  }
}

.button__list {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .button__list {
    flex-direction: row;
    margin-top: 43px;
  }
}
.button__item {
  padding: 24px 32px;
  width: 100%;
  height: 65px;
  border-radius: 100px;
}
@media screen and (min-width: 1024px) {
  .button__item {
    padding: 16px 32px;
    width: 145px;
    height: 49px;
  }
}
.button__item.started {
  background: #5D50C6;
  transition: 250ms;
}
.button__item.started:hover {
  box-shadow: 0px 81px 32px rgba(0, 0, 0, 0.01), 0px 45px 27px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.09), 0px 5px 11px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.button__item.demo {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  transition: 250ms;
}
@media screen and (min-width: 1024px) {
  .button__item.demo {
    width: 181px;
    height: 56px;
  }
}
.button__item.demo:hover {
  box-shadow: 0px 81px 32px rgba(0, 0, 0, 0.01), 0px 45px 27px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.09), 0px 5px 11px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.button__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2142857143;
  font-family: var(--primary-font-family);
  text-align: start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.button__link.started {
  color: #EEEEEE;
}
.button__link.demo {
  color: var(--secondary-text-color);
}
.button__link .icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.img-hero {
  background-image: url(../images/hero-layers.svg);
  background-repeat: no-repeat;
  background-size: contain;
  max-width: 100%;
}
@media screen and (min-width: 1024px) {
  .img-hero {
    margin-left: 62px;
    margin-right: 62px;
  }
}
.img-hero__list {
  position: relative;
  margin-top: 38px;
  margin-left: 46px;
  display: flex;
  flex-direction: column;
  width: 295px;
}
@media screen and (min-width: 1024px) {
  .img-hero__list {
    width: 575px;
    margin-top: 75px;
    margin-left: 91px;
  }
}
.img-hero__item:first-child {
  padding-bottom: 16px;
}
@media screen and (min-width: 1024px) {
  .img-hero__item:first-child {
    padding-bottom: 32px;
  }
}
.img-hero__item .image {
  border-radius: 16.42px;
  width: 139px;
}
@media screen and (min-width: 1024px) {
  .img-hero__item .image {
    border-radius: 32px;
    width: 272px;
  }
}
.img-hero__item .absolute {
  position: absolute;
  top: 59px;
  right: 0;
}
@media screen and (min-width: 1024px) {
  .img-hero__item .absolute {
    top: 116px;
  }
}
.img-hero__icon {
  position: absolute;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 8px;
  gap: 4.11px;
}
@media screen and (min-width: 1024px) {
  .img-hero__icon {
    width: 64px;
    height: 64px;
    padding: 16px;
    gap: 8px;
  }
}
.img-hero__icon.message {
  background-color: #F85E9F;
  left: -16.4px;
  top: 136.5px;
}
@media screen and (min-width: 1024px) {
  .img-hero__icon.message {
    left: -32px;
    top: 266px;
  }
}
.img-hero__icon.user {
  background-color: #FF5722;
  top: 291.65px;
  left: 196.6px;
}
@media screen and (min-width: 1024px) {
  .img-hero__icon.user {
    left: 383px;
    top: 574px;
  }
}
.img-hero__link {
  position: absolute;
  top: 37px;
  left: 130px;
  display: flex;
  flex-direction: row;
  gap: 4px;
  align-items: center;
  padding: 8.21318px 16.4264px;
  width: 85.21px;
  height: 28.75px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 39.526px 15.913px rgba(0, 0, 0, 0.01), 0px 22.0729px 13.3464px rgba(0, 0, 0, 0.05);
  border-radius: 51.3324px;
  color: #393E46;
  font-weight: 700;
  font-size: 7px;
  line-height: 1.1428571429;
  font-family: var(--primary-font-family);
}
@media screen and (min-width: 1024px) {
  .img-hero__link {
    width: 166px;
    height: 56px;
    padding: 16px 32px;
    top: 413px;
    left: 501px;
    gap: 6px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2142857143;
  }
}

.img-hero__link-icon {
  width: 12px;
  height: 12px;
  fill: #5D50C6;
}
@media screen and (min-width: 1024px) {
  .img-hero__link-icon {
    width: 24px;
    height: 24px;
  }
}

.company {
  padding: 32px 0px;
}
@media screen and (min-width: 1024px) {
  .company {
    padding: 64px 0px;
  }
}
.company__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 27px;
  margin-left: auto;
  margin-right: auto;
  max-width: 380px;
}
@media screen and (min-width: 1024px) {
  .company__list {
    max-width: 568px;
  }
}
@media screen and (min-width: 1440px) {
  .company__list {
    flex-wrap: nowrap;
    max-width: 100%;
  }
}
.company__item {
  width: calc((100% - 54px) / 3);
}
.company__item:nth-child(3n) {
  margin-right: 0px;
  margin-bottom: 32px;
}
.company__icon {
  width: 100%;
  height: 20px;
  fill: #191825;
  opacity: 0.5;
  transition-property: all;
  transition-timing-function: linear;
  transition: 1000ms;
}
.company__item:hover .company__icon {
  fill: var(--brand-color);
  transform: rotateX(360deg);
  opacity: 1;
}
@media screen and (min-width: 1024px) {
  .company__icon {
    height: 32px;
  }
}

.services__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px 16px;
  min-width: 0;
}
@media screen and (min-width: 1440px) {
  .services__wrapper {
    overflow-x: clip;
    flex-direction: row;
  }
}
.services__title {
  text-align: center;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1875;
  color: var(--title-text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 1440px) {
  .services__title {
    text-align: start;
    width: 336px;
    align-items: flex-start;
  }
}
.services__title::before {
  content: "Services";
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--accent-text-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1875;
}
@media screen and (min-width: 1440px) {
  .services__title::before {
    text-align: start;
  }
}
.services__list {
  margin-top: 32px;
  gap: 16px;
  display: flex;
  flex-direction: column;
  flex-grow: 0;
  scroll-behavior: smooth;
}
@media screen and (min-width: 1024px) {
  .services__list {
    flex-direction: row;
  }
}
@media screen and (min-width: 1440px) {
  .services__list {
    flex-grow: 1;
    gap: 21px;
  }
}

@media screen and (min-width: 1440px) {
  .text-wrapper {
    flex-grow: 1;
    margin-right: 40px;
  }
}

.categories {
  padding: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  background: var(--primary-bg-color);
  border: 1px solid rgba(25, 24, 37, 0.1);
  border-radius: 32px;
  transition: 500ms;
}
@media screen and (min-width: 1024px) {
  .categories {
    padding: 64px;
  }
}
@media screen and (min-width: 1440px) {
  .categories {
    width: 350px;
    height: 443px;
  }
}
.categories:hover {
  box-shadow: 0px 41px 89px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.categories__img {
  width: 64px;
}
@media screen and (min-width: 1024px) {
  .categories__img {
    margin-bottom: 32px;
  }
}
.categories__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2083333333;
  color: var(--title-text-color);
  text-align: center;
}
.categories__text {
  text-align: center;
}

.explore {
  margin-top: 32px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  min-width: 0;
}
@media screen and (min-width: 1024px) {
  .explore {
    margin-top: 64px;
    margin-bottom: 64px;
  }
}
.explore__wrapper {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1440px) {
  .explore__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.explore-title__title {
  margin-top: 16px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1875;
  color: var(--title-text-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 1024px) {
  .explore-title__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1440px) {
  .explore-title__title {
    align-items: flex-start;
    text-align: start;
    font-weight: 700;
    font-size: 44px;
    line-height: 1.2045454545;
  }
}
.explore-title__title::before {
  content: "Top Destination";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1875;
  color: var(--accent-text-color);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .explore-title__title::before {
    font-weight: 700;
    font-size: 23px;
    line-height: 1.2173913043;
  }
}

.explore-btn {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 1024px) {
  .explore-btn {
    margin-top: 64px;
    justify-content: center;
    gap: 32px;
  }
}
@media screen and (min-width: 1440px) {
  .explore-btn {
    margin-top: 0;
  }
}
.explore-btn__button {
  position: relative;
  width: 64px;
  height: 64px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(25, 24, 37, 0.1);
  transition: var(--transition-property);
}
@media screen and (min-width: 1024px) {
  .explore-btn__button {
    width: 100px;
    height: 100px;
  }
}
.explore-btn__button::before {
  position: absolute;
  content: "";
  border-radius: 100px;
  border: 2px solid var(--brand-color);
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: var(--brand-color);
  transition: var(--transition-property);
}
.explore-btn__button:hover::before {
  opacity: 1;
}
.explore-btn__icon {
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
  transition: var(--transition-property);
}
@media screen and (min-width: 1024px) {
  .explore-btn__icon {
    width: 26px;
    height: 26px;
  }
}
.explore-btn__button:hover .explore-btn__icon {
  fill: #FFFFFF;
}

.slide-img {
  overflow-x: clip;
  padding: 32px 14px;
}
@media screen and (min-width: 1440px) {
  .slide-img {
    padding: 32px 20px;
  }
}

@media screen and (min-width: 1024px) {
  .explore-img {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
.explore-img__item {
  position: relative;
  border-radius: 32px 32px 32px 32px;
  border: 1px solid rgba(25, 24, 37, 0.1);
  transition: var(--transition-property);
}
.explore-img__item:hover {
  box-shadow: 0px 33px 28px -15px rgba(0, 0, 0, 0.53);
}
.explore-img__item .pic {
  display: block;
  width: 100%;
}

.card {
  position: relative;
  padding: 32px;
  display: flex;
  flex-direction: column;
}
.card .title {
  margin-top: 8px;
  font-weight: 700;
  font-size: 23px;
  line-height: 1.2173913043;
  color: var(--title-text-color);
}
@media screen and (min-width: 1440px) {
  .card .title {
    margin-top: 0;
    width: 235px;
  }
}
.card .text {
  margin-top: 16px;
  font-family: var(--secondary-font-family);
  color: rgba(25, 24, 37, 0.75);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6111111111;
}
.card .rate {
  margin-top: 32px;
  font-weight: 700;
  font-size: 23px;
  line-height: 1.2173913043;
  color: #FF5722;
  display: flex;
  align-items: center;
  gap: 10px;
}
.card .rate .icon {
  width: 24px;
  height: 24px;
}
.card .price {
  font-weight: 700;
  font-size: 23px;
  line-height: 1.2173913043;
  color: var(--accent-text-color);
  order: -1;
}
@media screen and (min-width: 1440px) {
  .card .price {
    position: absolute;
    top: 32px;
    right: 32px;
  }
}

.point {
  padding-top: 32px;
  padding-bottom: 32px;
}
@media screen and (min-width: 1024px) {
  .point {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
.point::before {
  content: "";
  display: block;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  max-width: 398px;
  height: 318px;
  background-image: url(../images/point-bg.png);
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .point::before {
    background-image: url(../images/point-bg@2x.png);
  }
}
@media screen and (min-width: 1024px) {
  .point::before {
    max-width: 871px;
    height: 697px;
  }
}
@media screen and (min-width: 1440px) {
  .point::before {
    width: 871px;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 1440px) {
  .point {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
@media screen and (min-width: 1440px) {
  .point__wrapper {
    width: 441px;
    margin-left: 0;
    margin-right: 0;
  }
}
.point__title {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1875;
  text-align: center;
  color: var(--title-text-color);
}
@media screen and (min-width: 1024px) {
  .point__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1440px) {
  .point__title {
    text-align: start;
    align-items: flex-start;
  }
}
.point__title::before {
  content: "Travel Point";
  margin-top: 64px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--accent-text-color);
}
@media screen and (min-width: 1024px) {
  .point__title::before {
    font-weight: 700;
    font-size: 23px;
    line-height: 1.2173913043;
  }
}
.point__text {
  margin-top: 32px;
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .point__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6111111111;
  }
}
@media screen and (min-width: 1440px) {
  .point__text {
    text-align: start;
  }
}
.point__list {
  position: relative;
  margin-top: 32px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 1024px) {
  .point__list {
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 64px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1440px) {
  .point__list::before {
    position: absolute;
    top: -140px;
    left: 284px;
    content: "";
    background-image: url(../images/point-icon.png);
    background-size: cover;
    width: 285px;
    height: 353px;
  }
}
.point__list .item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 31px;
  border: 1px solid rgba(25, 24, 37, 0.1);
  border-radius: 32px;
  width: 100%;
}
@media screen and (min-width: 1024px) {
  .point__list .item {
    width: calc((100% - 16px) / 2);
  }
  .point__list .item:nth-child(2n) {
    margin-right: 0;
  }
}
.point__list .title {
  font-weight: 700;
  font-size: 35px;
  line-height: 1.2;
  color: #FF5722;
}
.point__list .text {
  color: var(--title-text-color);
}

.features {
  padding: 32px 8px;
}
@media screen and (min-width: 1024px) {
  .features {
    padding: 64px 96px 64px 96px;
  }
}
@media screen and (min-width: 1440px) {
  .features {
    display: flex;
    gap: 70px;
    padding: 64px 0px 64px 128px;
    max-width: none;
  }
}
.features::before {
  content: "";
  display: block;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  max-width: 350px;
  height: 439px;
  background-image: url(../images/features-bg.png);
  background-size: cover;
  background-position: center;
}
@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .features::before {
    background-image: url(../images/features-bg@2x.png);
  }
}
@media screen and (min-width: 1024px) {
  .features::before {
    max-width: 693px;
    height: 869px;
  }
}
@media screen and (min-width: 1440px) {
  .features::before {
    display: none;
  }
}
@media screen and (min-width: 1440px) {
  .features::after {
    content: "";
    display: block;
    background-image: url(../images/features-bg.png);
    background-size: cover;
    background-position: center;
    width: 693px;
    height: 869px;
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1440px) and (min-resolution: 2dppx) {
  .features::after {
    background-image: url(../images/features-bg@2x.png);
  }
}
.features__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  max-width: 350px;
}
@media screen and (min-width: 1024px) {
  .features__wrapper {
    max-width: 832px;
  }
}
@media screen and (min-width: 1440px) {
  .features__wrapper {
    max-width: none;
    width: 550px;
    align-items: flex-start;
  }
}
.features__title {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1875;
  text-align: center;
  color: var(--title-text-color);
}
@media screen and (min-width: 1024px) {
  .features__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1440px) {
  .features__title {
    text-align: start;
    align-items: flex-start;
  }
}
.features__title::before {
  content: "Key features";
  margin-top: 64px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--accent-text-color);
}
@media screen and (min-width: 1024px) {
  .features__title::before {
    font-weight: 700;
    font-size: 23px;
    line-height: 1.2173913043;
  }
}
.features__text {
  margin-top: 32px;
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  min-width: 320px;
}
@media screen and (min-width: 1024px) {
  .features__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6111111111;
    max-width: 830px;
  }
}
@media screen and (min-width: 1440px) {
  .features__text {
    text-align: start;
  }
}
.features__list {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}
.features__item {
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  border-radius: 32px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: var(--transition-property);
}
@media screen and (min-width: 1024px) {
  .features__item {
    flex-direction: row;
    align-items: center;
  }
}
.features__item:hover {
  border: 1px solid rgba(25, 24, 37, 0.1);
}
.features__item .image {
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 32px;
}
.features__item .location {
  background: #FF5722;
}
.features__item .calendar {
  background: #FACD49;
}
.features__item .ticket {
  background: #F85E9F;
}
.features__item .icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 48px;
  height: 48px;
}
.features__item .title {
  font-weight: 700;
  font-size: 23px;
  line-height: 1.2173913043;
  color: var(--title-text-color);
  margin-bottom: 8px;
}
.features__item .text {
  font-family: var(--secondary-font-family);
}

.reviews {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
  overflow-x: clip;
}
@media screen and (min-width: 1024px) {
  .reviews {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1024px) {
  .reviews::before {
    content: "";
    position: absolute;
    top: -260px;
    left: 0px;
    background-image: url(../images/reviews-bg-tablet.png);
    background-position: 50% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 1024px;
    height: 900px;
    overflow: visible;
  }
}
@media screen and (min-width: 1024px) and (min-width: 1024px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-width: 1024px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-width: 1024px) and (min-resolution: 2dppx) {
  .reviews::before {
    background-image: url(../images/reviews-bg-tablet@2x.png);
  }
}
@media screen and (min-width: 1024px) and (min-width: 1440px) {
  .reviews::before {
    opacity: 0.1;
    top: -85px;
    left: 0px;
    width: 1400px;
    background-image: url(../images/reviews-bg.png);
  }
}
@media screen and (min-width: 1024px) and (min-width: 1440px) and (min-device-pixel-ratio: 2), screen and (min-width: 1024px) and (min-width: 1440px) and (min-resolution: 192dpi), screen and (min-width: 1024px) and (min-width: 1440px) and (min-resolution: 2dppx) {
  .reviews::before {
    background-image: url(../images/reviews-bg@2x.png);
  }
}
.reviews__title {
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1875;
  color: var(--title-text-color);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
@media screen and (min-width: 1024px) {
  .reviews__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1440px) {
  .reviews__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 1.2045454545;
  }
}
.reviews__title::before {
  content: "Testimonials";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1875;
  color: var(--accent-text-color);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .reviews__title::before {
    font-weight: 700;
    font-size: 23px;
    line-height: 1.2173913043;
  }
}

.reviews-swiper {
  overflow-x: clip;
  position: relative;
}
.reviews-swiper .swiper-pagination {
  position: relative;
  margin-top: 64px;
}
@media screen and (min-width: 1024px) {
  .reviews-swiper .swiper-pagination {
    padding-top: 56px;
  }
}
.reviews-swiper .swiper-pagination-bullet {
  width: 24px;
  height: 24px;
  background-color: rgba(25, 24, 37, 0.3);
  transform: none;
}
.reviews-swiper .swiper-pagination-bullet-active {
  background-color: var(--accent-text-color);
}

.reviews-list {
  padding-top: 64px;
  background-color: transparent;
}
@media screen and (min-width: 1024px) {
  .reviews-list {
    padding-top: 56px;
  }
}
.reviews-list__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reviews-list__item .img {
  display: block;
  width: 128px;
  height: 128px;
}
.reviews-list__title {
  margin-top: 64px;
  font-weight: 700;
  font-size: 23px;
  line-height: 1.2173913043;
  color: rgba(25, 24, 37, 0.75);
}
@media screen and (min-width: 1024px) {
  .reviews-list__title {
    margin-top: 56px;
  }
}
.reviews-list__title span {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2142857143;
  color: #FF5722;
}
.reviews-list__text {
  margin-top: 64px;
  font-weight: 450;
  font-size: 18px;
  line-height: 1.6111111111;
  color: rgba(25, 24, 37, 0.75);
  text-align: center;
  min-width: 200px;
  max-width: 584px;
}
@media screen and (min-width: 1024px) {
  .reviews-list__text {
    margin-top: 56px;
    font-weight: 450;
    font-size: 23px;
    line-height: 1.6086956522;
  }
}
@media screen and (min-width: 1440px) {
  .reviews-list__text {
    max-width: 872px;
  }
}

.star-list {
  margin-top: 32px;
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.star-list .item {
  display: block;
}
.star-list .item .icon {
  width: 32px;
  height: 32px;
}

.reviews-btn {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
}
.reviews-btn__button {
  position: relative;
  width: 64px;
  height: 64px;
  background-color: #FFFFFF;
  border-radius: 50%;
  border: 1px solid rgba(25, 24, 37, 0.1);
  transition: var(--transition-property);
  z-index: 10;
}
@media screen and (min-width: 1024px) {
  .reviews-btn__button {
    width: 100px;
    height: 100px;
  }
}
.reviews-btn__button::before {
  position: absolute;
  content: "";
  border-radius: 100px;
  border: 2px solid var(--brand-color);
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  background-color: var(--brand-color);
  transition: var(--transition-property);
}
.reviews-btn__button:hover::before {
  opacity: 1;
}
@media screen and (min-width: 1024px) {
  .reviews-btn .btn-prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }
}
@media screen and (min-width: 1024px) {
  .reviews-btn .btn-next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}
.reviews-btn__icon {
  width: 20px;
  height: 20px;
  position: relative;
  display: inline-block;
  transition: var(--transition-property);
}
@media screen and (min-width: 1024px) {
  .reviews-btn__icon {
    width: 26px;
    height: 26px;
  }
}
.explore-btn__button:hover .reviews-btn__icon {
  fill: #FFFFFF;
}

.subscribe-wrapper {
  padding: 64px 32px;
  background-color: rgba(250, 205, 73, 0.08);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 32px;
}
@media screen and (min-width: 1024px) {
  .subscribe-wrapper {
    padding: 128px 64px;
  }
}
.subscribe-wrapper__title {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  font-weight: 700;
  font-size: 32px;
  line-height: 1.1875;
  text-align: center;
  color: var(--title-text-color);
}
@media screen and (min-width: 1024px) {
  .subscribe-wrapper__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.2;
  }
}
@media screen and (min-width: 1440px) {
  .subscribe-wrapper__title {
    font-weight: 700;
    font-size: 55px;
    line-height: 1.2;
  }
}
.subscribe-wrapper__title::before {
  content: "subscribe to our newsletter";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--accent-text-color);
}
@media screen and (min-width: 1024px) {
  .subscribe-wrapper__title::before {
    font-weight: 700;
    font-size: 23px;
    line-height: 1.2173913043;
  }
}

.form {
  margin-top: 64px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
@media screen and (min-width: 1024px) {
  .form {
    flex-direction: row;
  }
}
.form__wrapper {
  display: block;
  position: relative;
  width: 100%;
}
.form__input {
  padding: 32px 32px 32px 72px;
  width: 100%;
  border-radius: 16px;
  border: 1px solid rgba(25, 24, 37, 0.75);
  transition: var(--transition-property);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2142857143;
  color: rgba(25, 24, 37, 0.75);
}
@media screen and (min-width: 1024px) {
  .form__input {
    width: 502px;
    font-weight: 700;
    font-size: 23px;
    line-height: 1.2173913043;
  }
}
@media screen and (min-width: 1440px) {
  .form__input {
    width: 805px;
  }
}
.form__input::placeholder {
  color: rgba(25, 24, 37, 0.75);
}
.form__input:hover, .form__input:active, .form__input:focus-visible {
  outline: none;
  border: 1px solid var(--brand-color);
}
.form__input:hover + .form__icon, .form__input:active + .form__icon, .form__input:focus-visible + .form__icon {
  fill: var(--brand-color);
}
.form__icon {
  position: absolute;
  top: 50%;
  left: 32px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  fill: rgba(25, 24, 37, 0.75);
}
.form__button {
  padding: 24px 64px;
  background: #5D50C6;
  border-radius: 16px;
  width: 100%;
  color: #FFFFFF;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1875;
}
@media screen and (min-width: 1024px) {
  .form__button {
    padding: 32px 64px;
    width: 235px;
    font-weight: 700;
    font-size: 23px;
    line-height: 1.2173913043;
  }
}

.btn-wrapper {
  width: 100%;
  height: 68px;
  text-align: center;
  position: relative;
  background-color: transparent;
}
.btn-wrapper div {
  position: absolute;
  top: 50%;
  left: -50%;
  transform: translate(50%, -50%);
  width: 100%;
}

.active {
  transition: 0.8s;
  transform: scale(0.01);
  animation: send 0.7s 0.5s ease 1;
  animation-fill-mode: forwards;
}

@keyframes send {
  0% {
    transform: scale(0.01);
    background-color: transparent;
    font-size: 0;
  }
  50% {
    border-radius: 50%;
  }
  100% {
    transform: scale(0.01);
    background-color: transparent;
    transform: scale(1);
    box-shadow: unset;
    border-radius: 50%;
    text-align: center;
    color: var(--brand-color);
    font-size: 30px;
    width: 90px;
    height: 90px;
    padding: 0px;
    border: 3px solid var(--brand-color);
  }
}
.active-btn {
  background-color: transparent;
  box-shadow: unset;
  border-radius: 50%;
  text-align: center;
  color: var(--brand-color);
  font-size: 30px;
  width: 90px;
  height: 90px;
  padding: 0px;
  border: 3px solid var(--brand-color);
}

.deactivate {
  transition: 0.8s;
  transform: scale(0.01);
  animation: mob 0.7s 0.5s ease 1;
  animation-fill-mode: forwards;
}
@media screen and (min-width: 1024px) {
  .deactivate {
    animation: sub 0.7s 0.5s ease 1;
    animation-fill-mode: forwards;
  }
}

@keyframes mob {
  0% {
    transform: scale(0.01);
    background-color: var(--brand-color);
    font-size: 0;
  }
  50% {
    border-radius: 16px;
  }
  100% {
    transform: scale(0.01);
    transform: scale(1);
    padding: 24px 64px;
    background-color: var(--brand-color);
    border-radius: 16px;
    width: 100%;
    height: 68px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.1875;
    color: #FFFFFF;
    border: none;
  }
}
@keyframes sub {
  0% {
    transform: scale(0.01);
    background-color: var(--brand-color);
    font-size: 0;
  }
  50% {
    border-radius: 16px;
  }
  100% {
    transform: scale(0.01);
    transform: scale(1);
    padding: 32px 64px;
    background-color: var(--brand-color);
    border-radius: 16px;
    width: 100%;
    font-weight: 700;
    font-size: 23px;
    line-height: 1.2173913043;
    color: #FFFFFF;
    border: none;
  }
}