:root {
  --brand-color: #5D50C6;
  --title-text-color: #191825;
  --primary-text-color: rgba(25, 24, 37, 0.5);
  --secondary-text-color: #222831;
  --accent-text-color: #F85E9F;
  --primary-bg-color: #FFFFFF;
  --primary-font-family: "Circular Std";
  --secondary-font-family: "Inter";
  --transition-property: 150ms ease-in-out;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

@font-face {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/CircularStd-Light.woff2") format("woff2"), url("../fonts/CircularStd-Light.woff") format("woff");
}
@font-face {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff");
}
@font-face {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff");
}
@font-face {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/CircularStd-Bold.woff2") format("woff2"), url("../fonts/CircularStd-Bold.woff") format("woff");
}
@font-face {
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/CircularStd-Black.woff2") format("woff2"), url("../fonts/CircularStd-Black.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Inter-VariableFont_slnt,wght.woff2") format("woff2"), url("../fonts/Inter-VariableFont_slnt,wght.woff") format("woff");
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--primary-font-family), var(--secondary-font-family), sans-serif;
  font-style: normal;
  background-color: var(--primary-bg-color);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6111111111;
  color: var(--primary-text-color);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.list {
  list-style: none;
}

.section {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
}

.container {
  min-width: 320px;
  margin: 0 auto;
  padding-left: 8px;
  padding-right: 8px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 430px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    width: 896px;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    width: 1200px;
    padding-left: 8px;
    padding-right: 8px;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.6666666667;
  font-family: var(--primary-font-family);
  color: var(--title-text-color);
}
.logo__icon {
  width: 40px;
  height: 40px;
  animation: 10s linear 0s normal none infinite running rotate;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.header-row {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-row::before {
  content: "";
  display: none;
}
@media screen and (min-width: 1024px) {
  .header-row::before {
    display: block;
    position: absolute;
    left: -356px;
    top: -223px;
    height: 500px;
    width: 500px;
    background-color: #FF5722;
    border-radius: 50%;
    opacity: 0.5;
    filter: blur(250px);
    z-index: -1;
  }
}
@media screen and (min-width: 1440px) {
  .header-row::before {
    display: none;
  }
}

.nav {
  display: none;
}
@media screen and (min-width: 1440px) {
  .nav {
    display: flex;
  }
}
.nav__list {
  display: flex;
  gap: 64px;
  align-items: center;
}
.nav__link {
  color: var(--primary-text-color);
  transition: 0.15s ease-in-out;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2142857143;
}
.nav__link.home {
  color: var(--secondary-text-color);
}
.nav__link:hover {
  color: var(--brand-color);
}

.login {
  display: none;
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2142857143;
}
@media screen and (min-width: 1024px) {
  .login {
    display: flex;
  }
}
.login__button {
  width: 105px;
  height: 49px;
  border: 0;
  border-radius: 100px;
}
.login .log-in {
  font-family: var(--primary-font-family);
  color: var(--secondary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2142857143;
  background-color: #FFFFFF;
  transition: var(--transition-property);
}
.login .log-in:hover {
  color: var(--brand-color);
}
.login .sign-up {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2142857143;
  color: #EEEEEE;
  background-color: var(--brand-color);
  transition: var(--transition-property);
}
.login .sign-up:hover {
  box-shadow: 0 0 1px 0 var(--brand-color) inset, 0 0 8px 4px var(--brand-color);
}

.mobile-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
  width: 40px;
  height: 40px;
  background-color: var(--brand-color);
  border-radius: 10px;
  box-shadow: 0 0 0 0 var(--brand-color);
  letter-spacing: 2px;
  transition: 0.15s ease-in-out;
  fill: #FFFFFF;
}
.mobile-menu:hover {
  box-shadow: 0 0 10px 0 var(--brand-color) inset, 0 0 10px 4px var(--brand-color);
  fill: black;
}
.mobile-menu__icon {
  width: 30px;
  height: 25px;
}
@media screen and (min-width: 1024px) {
  .mobile-menu {
    order: -1;
  }
}
@media screen and (min-width: 1440px) {
  .mobile-menu {
    display: none;
  }
}

.hero-wrapper {
  display: flex;
  flex-direction: column-reverse;
}

.promo {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 1024px) {
  .promo {
    margin-top: 64px;
  }
}
.promo__link {
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2142857143;
  color: var(--accent-text-color);
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: flex-end;
  padding: 16px 32px;
  gap: 16px;
  width: 224px;
  height: 56px;
  background: #FFFFFF;
  box-shadow: 0px 548px 219px rgba(0, 0, 0, 0.01), 0px 308px 185px rgba(0, 0, 0, 0.04), 0px 137px 137px rgba(0, 0, 0, 0.06), 0px 34px 75px rgba(0, 0, 0, 0.07), 0px 0px 0px rgba(0, 0, 0, 0.07);
  border-radius: 100px;
}
.promo__link .icon {
  width: 24px;
  height: 24px;
}
.promo__title {
  margin-top: 16px;
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: #000000;
  text-align: center;
}
.promo__title .accent {
  color: var(--accent-text-color);
}
@media screen and (min-width: 1024px) {
  .promo__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.1964285714;
    margin-top: 43px;
    padding-left: 130px;
    padding-right: 130px;
  }
}
.promo__text {
  margin-top: 24px;
  font-family: var(--secondary-font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
}
@media screen and (min-width: 1024px) {
  .promo__text {
    margin-top: 43px;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.6111111111;
  }
}

.button__list {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}
@media screen and (min-width: 1024px) {
  .button__list {
    flex-direction: row;
    margin-top: 43px;
  }
}
.button__item {
  padding: 24px 32px;
  width: 398px;
  height: 65px;
  border-radius: 100px;
}
@media screen and (min-width: 1024px) {
  .button__item {
    padding: 16px 32px;
    width: 141px;
    height: 49px;
  }
}
.button__item.started {
  background: #5D50C6;
  box-shadow: 0px 81px 32px rgba(0, 0, 0, 0.01), 0px 45px 27px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.09), 0px 5px 11px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
}
.button__item.demo {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  width: 181px;
  height: 56px;
}
.button__link {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2142857143;
  font-family: var(--primary-font-family);
  text-align: start;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}
.button__link.started {
  color: #EEEEEE;
}
.button__link.demo {
  color: var(--secondary-text-color);
}
.button__link .icon {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

.img-hero {
  margin-top: 32px;
  background-image: url(../images/hero-layers.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
@media screen and (min-width: 1024px) {
  .img-hero {
    margin-top: 64px;
    margin-left: 62px;
    margin-right: 62px;
  }
}
.img-hero__list {
  position: relative;
  margin-top: 38px;
  margin-left: 46px;
  display: flex;
  flex-direction: column;
  width: 295px;
}
@media screen and (min-width: 1024px) {
  .img-hero__list {
    width: 575px;
    margin-top: 75px;
    margin-left: 91px;
  }
}
.img-hero__item:first-child {
  padding-bottom: 16px;
}
@media screen and (min-width: 1024px) {
  .img-hero__item:first-child {
    padding-bottom: 32px;
  }
}
.img-hero__item .image {
  border-radius: 16.42px;
  width: 139px;
}
@media screen and (min-width: 1024px) {
  .img-hero__item .image {
    border-radius: 32px;
    width: 272px;
  }
}
.img-hero__item .absolute {
  position: absolute;
  top: 59px;
  right: 0;
}
@media screen and (min-width: 1024px) {
  .img-hero__item .absolute {
    top: 116px;
  }
}