<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travlog</title>
    <link rel="icon" href="./images/travlog-icon.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
        integrity="sha512-ISS7cAi1PEhQ8jnbJpJZMd29NlhNj4AWYyLOSp2CE/CsHxTCu+r+t0D2yoJudVrd0/8fTVPUVDzY5Tvli75u/g=="
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
    <header class="header section">
        
        <div class="header-row container">
            <a href="" class="logo">
                <img src="./images/logo-icon.svg" alt="" class="logo__icon">Travlog
            </a>
            <nav class="nav">
                <ul class="nav__list">
                    <li class="nav__item">
                        <a href="" class="nav__link home">
                            Home
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="" class="nav__link">
                            Discover
                        </a>
                    </li>
                    <li class="nav__item">
                        <a href="" class="nav__link">
                            Special Deals
                        </a>
                    </li>
                    <li class="nav__item">
                    <a href="" class="nav__link">
                        Contact
                    </a>
                </li>
                </ul>
            </nav>

            <ul class="login">
                <li class="login__item">
                    <button class="login__button log-in">
                        <span>Log In</span>
                    </button>
                </li>
                <li class="login__item">
                    <button class="login__button sign-up">
                        <span>Sign Up</span>
                    </button>
                </li>
            </ul>

            <button class="mobile-menu">
                <svg class="mobile-menu__icon">
                    <use href="./images/sprite.svg#icon-menu-mobil2"></use>
                <!-- <use href="./images/sprite.svg#icon-mobile-menu"></use> -->
                </svg>
            </button>
            

        </div>
        
    </header>
    <main>