<section class="point section">
    <div class="point__wrapper container" id="Special">
        <h2 class="point__title">We helping you find your dream location</h2>
        <p class="point__text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin
            literature
            from 45 BC.</p>
        <ul class="point__list">
            <li class="item">
                <h4 class="title">500+</h4>
                <p class="text">Holiday Package</p>
            </li>
            <li  class="item">
                <h4 class="title">100</h4>
                <p class="text">Luxury Hotel</p>
            </li>
            <li  class="item">
                <h4 class="title">7</h4>
                <p class="text">Premium Airlines</p>
            </li>
            <li  class="item">
                <h4 class="title">2k+</h4>
                <p class="text">Happy Customer</p>
            </li>
        </ul>
    </div>
</section>
<section class="section">
    <div class="features">
        <div class="features__wrapper">
            <h2 class="features__title">We offer best services</h2>
            <p class="features__text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                classical Latin literature
                from 45 BC.</p>
            <ul class="features__list">
                <li class="features__item">
                    <div class="image location">
                        <svg class="icon">
                            <use href="./images/sprite.svg#icon-location"></use>
                        </svg>
                    </div>
                    <div class="wrapper">
                        <h4 class="title">
                            We offer best services
                        </h4>
                        <p class="text">
                            Lorem Ipsum is not simply random text
                        </p>
                    </div>
                </li>
                <li class="features__item">
                    <div class="image calendar">
                        <svg class="icon">
                            <use href="./images/sprite.svg#icon-calendar"></use>
                        </svg>
                    </div>
                    <div class="wrapper">
                        <h4 class="title">
                            Schedule your trip
                        </h4>
                        <p class="text">
                            It has roots in a piece of classical
                        </p>
                    </div>
                </li>
                <li class="features__item">
                    <div class="image ticket">
                        <svg class="icon">
                            <use href="./images/sprite.svg#icon-ticket"></use>
                        </svg>
                    </div>
                    <div class="wrapper">
                        <h4 class="title">
                            Get discounted coupons
                        </h4>
                        <p class="text">
                            Lorem Ipsum is not simply random text
                        </p>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</section>
    
