<section class="reviews section">
    <div class="reviews-swiper container swiper-container">
        <h2 class="reviews__title">
            Trust our clients
        </h2>
        <ul class="reviews-list swiper-wrapper">
            <li class="reviews-list__item swiper-slide">
                <picture class="img">
                    <source srcset="./images/reviews-user-img.avif 1x, ./images/reviews-user-img@2x.avif 2x" type="image/avif">
                    <source srcset="./images/reviews-user-img.webp 1x, ./images/reviews-user-img@2x.webp 2x" type="image/webp">
                    <img srcset="./images/reviews-user-img.png 1x, ./images/reviews-user-img@2x.png 2x" src="./images/reviews-user-img.png"  alt="user image">
                </picture>
                <h3 class="reviews-list__title">
                    <span>Mark Smith</span>&nbsp;/&nbsp;Travel Enthusiast
                </h3>
                <ul class="star-list">
                    <li class="item">
                        <svg class="icon">
                            <use href="./images/sprite.svg#icon-reviews-star"></use>
                        </svg>
                    </li>
                    <li class="item">
                        <svg class="icon">
                            <use href="./images/sprite.svg#icon-reviews-star"></use>
                        </svg>
                    </li>
                    <li class="item">
                        <svg class="icon">
                            <use href="./images/sprite.svg#icon-reviews-star"></use>
                        </svg>
                    </li>
                    <li class="item">
                        <svg class="icon">
                            <use href="./images/sprite.svg#icon-reviews-star"></use>
                        </svg>
                    </li>
                    <li class="item">
                        <svg class="icon">
                            <use href="./images/sprite.svg#icon-reviews-star"></use>
                        </svg>
                    </li>
                </ul>
                <p class="reviews-list__text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature
                from 45 BC.</p>
            </li>
            <li class="reviews-list__item swiper-slide">
                <picture class="img">
                    <source srcset="./images/reviews-user-img.avif 1x, ./images/reviews-user-img@2x.avif 2x" type="image/avif">
                    <source srcset="./images/reviews-user-img.webp 1x, ./images/reviews-user-img@2x.webp 2x" type="image/webp">
                    <img srcset="./images/reviews-user-img.png 1x, ./images/reviews-user-img@2x.png 2x"
                        src="./images/reviews-user-img.png" alt="user image">
                </picture>
                <h3 class="reviews-list__title">
                    <span>Paul Cook</span>&nbsp;/&nbsp;Tourist
                </h3>
                <ul class="star-list">
                    <li class="item">
                        <svg class="icon">
                            <use href="./images/sprite.svg#icon-reviews-star"></use>
                        </svg>
                    </li>
                    <li class="item">
                        <svg class="icon">
                            <use href="./images/sprite.svg#icon-reviews-star"></use>
                        </svg>
                    </li>
                    <li class="item">
                        <svg class="icon">
                            <use href="./images/sprite.svg#icon-reviews-star"></use>
                        </svg>
                    </li>
                    <li class="item">
                        <svg class="icon">
                            <use href="./images/sprite.svg#icon-reviews-star"></use>
                        </svg>
                    </li>
                    <li class="item">
                        <svg class="icon">
                            <use href="./images/sprite.svg#icon-reviews-star"></use>
                        </svg>
                    </li>
                </ul>
                <p class="reviews-list__text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                    piece of classical Latin literature
                    from 45 BC.</p>
            </li>
            <li class="reviews-list__item swiper-slide">
                <picture class="img">
                    <source srcset="./images/reviews-user-img.avif 1x, ./images/reviews-user-img@2x.avif 2x" type="image/avif">
                    <source srcset="./images/reviews-user-img.webp 1x, ./images/reviews-user-img@2x.webp 2x" type="image/webp">
                    <img srcset="./images/reviews-user-img.png 1x, ./images/reviews-user-img@2x.png 2x"
                        src="./images/reviews-user-img.png"  alt="user image">
                </picture>
                <h3 class="reviews-list__title">
                    <span>Sean Parker</span>&nbsp;/&nbsp;Travel Enthusiast
                </h3>
                <ul class="star-list">
                    <li class="item">
                        <svg class="icon">
                            <use href="./images/sprite.svg#icon-reviews-star"></use>
                        </svg>
                    </li>
                    <li class="item">
                        <svg class="icon">
                            <use href="./images/sprite.svg#icon-reviews-star"></use>
                        </svg>
                    </li>
                    <li class="item">
                        <svg class="icon">
                            <use href="./images/sprite.svg#icon-reviews-star"></use>
                        </svg>
                    </li>
                    <li class="item">
                        <svg class="icon">
                            <use href="./images/sprite.svg#icon-reviews-star"></use>
                        </svg>
                    </li>
                </ul>
                <p class="reviews-list__text">Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a
                    piece of classical Latin literature
                    from 45 BC.</p>
            </li>
        </ul>
        <div class="swiper-pagination"></div>
        <div class="reviews-btn">
            <button class="reviews-btn__button btn-prev">
                <svg class="reviews-btn__icon">
                    <use href="./images/sprite.svg#arrow-left"></use>
                </svg>
            </button>
            <button class="reviews-btn__button btn-next">
                <svg class="reviews-btn__icon">
                    <use href="./images/sprite.svg#arrow-right"></use>
                </svg>
            </button>
        </div>
    </div>
    
</section>