<section class="services section">
    <div class="services__wrapper container">
        <div class="text-wrapper">
            <p class="services__text">Services</p>
            <h2 class="services__title">Our top value categories for you</h2>
        </div>
        <ul class="services__list">
            <li class="services__item">
                <div class="categories">
                    <picture class="categories__img">
                        <source srcset="./images/categories1.webp 1x, ./images/categories1@2x.webp 2x" type="image/webp">
                        <img srcset="./images/categories1.png 1x, ./images/categories1@2x.png 2x" src="./images/categories1.png"
                            alt="" class="image">
                    </picture>
                    <h3 class="categories__title">Best Tour Guide</h3>
                    <p class="categories__text">What looked like a small patch of purple grass, above five feet.</p>
                </div>
            </li>
            <li class="services__item">
                <div class="categories">
                    <picture class="categories__img">
                        <source srcset="./images/categories2.webp 1x, ./images/categories2@2x.webp 2x" type="image/webp">
                        <img srcset="./images/categories2.png 1x, ./images/categories2@2x.png 2x" src="./images/categories2.png"
                            alt="" class="image">
                    </picture>
                    <h3 class="categories__title">Easy Booking</h3>
                    <p class="categories__text">Square, was moving across the sand in their direction.</p>
                </div>
            </li>
            <li class="services__item">
                <div class="categories">
                    <picture class="categories__img">
                        <source srcset="./images/categories3.webp 1x, ./images/categories3@2x.webp 2x" type="image/webp">
                        <img srcset="./images/categories3.png 1x, ./images/categories3@2x.png 2x" src="./images/categories3.png"
                            alt="" class="image">
                    </picture>
                    <h3 class="categories__title">Weather Forecast</h3>
                    <p class="categories__text">What looked like a small patch of purple grass, above five feet.</p>
                </div>
            </li>
        </ul>

    </div>
    <div class="explore container">
        <div class="explore__wrapper">
            <div class="explore-title">
                <p class="explore-title__text">Top Destination</p>
                <h2 class="explore-title__title">Explore top destination</h1>
            </div>
            <div class="explore-btn">
                <button class="explore-btn__button">
                    <svg class="explore-btn__icon">
                        <use href="./images/sprite.svg#arrow-left"></use>
                    </svg>
                </button>
                <button class="explore-btn__button">
                    <svg class="explore-btn__icon">
                        <use href="./images/sprite.svg#arrow-right"></use>
                    </svg>
                </button>
            </div>
        </div>
        <div class="explore-img">
            <ul class="explore-img__list">
                <li class="explore-img__item">
                    <picture>
                        <source srcset="./images/explore-desc-1.avif 1x, ./images/explore-desc-1@2x.avif 2x" media="(min-width: 1440px)" type="image/avif">
                        <source srcset="./images/explore-desc-1.webp 1x, ./images/explore-desc-1@2x.webp 2x" media="(min-width: 1440px)" type="image/webp">
                        <source srcset="./images/explore-desc-1.jpg 1x, ./images/explore-desc-1@2x.jpg 2x" media="(min-width: 1440px)">
                        <source srcset="./images/explore-tabl-1.avif 1x, ./images/explore-tabl-1@2x.avif 2x" media="(min-width: 1024px)" type="image/avif">
                        <source srcset="./images/explore-tabl-1.webp 1x, ./images/explore-tabl-1@2x.webp 2x" media="(min-width: 1024px)" type="image/webp">
                        <source srcset="./images/explore-tabl-1.jpg 1x, ./images/explore-tabl-1@2x.jpg 2x" media="(min-width: 1024px)">
                        <source srcset="./images/explore-mob-1.avif 1x, ./images/explore-mob-1@2x.avif 2x" type="image/avif">
                        <source srcset="./images/explore-mob-1.webp 1x, ./images/explore-mob-1@2x.webp 2x" type="image/webp">
                        <img srcset="./images/explore-mob-1.jpg 1x, ./images/explore-mob-1@2x.jpg 2x" src="./images/explore-mob-1.jpg" alt="" class="image">
                    </picture>
                    <div class="card">
                        <h3 class="title">Paradise Beach, Bantayan Island</h3>
                        <p class="text">Rome, Italy</p>
                        <p class="rate">
                            4.8 
                            <svg class="icon">
                                <use href="./images/sprite.svg#icon-star"></use>
                            </svg>
                        </p>
                        <p class="price">$550.16</p>

                    </div>

                </li>
            </ul>
        </div>
    </div>





</section>