<section class="section">
    <div class="subscribe-wrapper container">
        <form action="">
            <h2 class="subscribe-wrapper__title">Prepare yourself & let’s explore the beauty of the world</h2>
            <div class="form">
                <span class="form__wrapper">
                    <input type="email" name="email" class="form__input" placeholder="Your Email" id="user_email_sub" required>
                    <svg class="form__icon">
                        <use href="./images/sprite.svg#icon-message"></use>
                    </svg>
                </span>
                <div class="btn-wrapper">
                    <div>
                        <button class="form__button">Subscribe</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

</section>