.container {
    min-width: 400px;
    margin: 0 auto;
    padding-left: 8px;
    padding-right: 8px;


    @media screen and (min-width: 480px) {
        width: 430px;
        padding-left: 16px;
        padding-right: 16px;
    }

    @media screen and (min-width: 1024px) {
        width: 896px;
    }

    @media screen and (min-width: 1440px) {
        width: 1200px;
        padding-left: 8px;
        padding-right: 8px;
    }

}
