:root {
    --brand-color: #5D50C6;
    --title-text-color: #191825;
    --primary-text-color: rgba(25, 24, 37, 0.5);
    --secondary-text-color: #222831;
    --tertiary-text-color: rgba(25, 24, 37, 0.75);
    --accent-text-color: #F85E9F;
    --primary-bg-color: #FFFFFF;;
    --primary-font-family: 'Circular Std';
    --secondary-font-family: 'Inter';
    --transition-property: 150ms ease-in-out;
}