.logo {
    display: flex;
    align-items: center;
    gap: 16px;

    @include font-title($fw: 900, $fs: 24px, $lh: 40px);
    font-family: var(--primary-font-family);
    color: var(--title-text-color);

    &:hover {
        color: var(--title-text-color);
    }
}
@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.loader-img {
    position: relative;
    overflow: hidden;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: var(--brand-color);
    svg {
        height: 100%;
        position: absolute;
    }
    svg.plane {
        width: 100%;
        -webkit-animation: 4s linear infinite plane;
        animation: 4s linear infinite plane;
    }
}

@-webkit-keyframes clouds {
    0% {
        -webkit-transform: translateX(60px);
        transform: translateX(60px);
    }

    100% {
        -webkit-transform: translateX(-130px);
        transform: translateX(-130px);
    }
}
@keyframes clouds {
    0% {
        -webkit-transform: translateX(60px);
        transform: translateX(60px);
    }

    100% {
        -webkit-transform: translateX(-130px);
        transform: translateX(-130px);
    }
}
.loader-img svg.clouds {
    -webkit-animation: 4s linear infinite clouds;
    animation: 4s linear infinite clouds;
    width: 130px;

}
@-webkit-keyframes plane {

    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
}
@keyframes plane {

    0%,
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    50% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
}




