.logo {
    display: flex;
    align-items: center;
    gap: 16px;
    @include font-title($fw: 900, $fs: 24px, $lh: 40px);
    font-family: var(--primary-font-family);
    
    color: var(--title-text-color);

    &__icon {
        width: 40px;
        height: 40px;
    }
}