// =====================================================CONTAINER====================================================//
.header-row {
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    &::before {
        content: '';
        display: none;
        @media screen and (min-width: 1024px) {
            display: block;
            position: absolute;
            left: -356px;
            top: -223px;

            height: 500px;
            width: 500px;

            border-radius: 50%;
            background-color: #FF5722;
            opacity: 0.5;
            filter: blur(250px);
            
            z-index: -1;
        }
    
        @media screen and (min-width: 1440px) {
            display: none;
        }
    }
    &::after {
        display: none;
    }  
}
// ============================================================================================================//

// =====================================================NAVIGATION====================================================//
.nav {
    display: none;
    @media screen and (min-width: 1440px) {
        display: flex;
    }
    &__list{
        display: flex;
        gap: 64px;
        align-items: center;
    }
    &__link {    
        @include font-title($fs: 14px, $lh: 17px);
        color: var(--primary-text-color);
        transition: .15s ease-in-out;
       
        &.home {
            color: var(--secondary-text-color);
        }

        &:hover {
            color: var(--brand-color);

        }
    }

}

.login {
    display: none;
    font-family: var(--primary-font-family);
    @include font-title($fs: 14px, $lh: 17px);
    
    @media screen and (min-width: 1024px){
        display: flex;
        gap: 8px;
    }

    &__button {
        position: relative;
        display: inline-block;
        overflow: hidden;

        width: 105px;
        height: 49px;

        border: 0;
        border-radius: 100px;
    }
    .log-in {
        padding: 0;

        overflow: hidden;

        background: none;
        border: none;
        border-radius: 100px;
        color: white;
        
        &::before {
            content: "";
            position: absolute;
            top: 50%;
            left: 50%;
            
            height: 150px;
            width: 150px;

            background-color: var(--brand-color);
            border-radius: inherit;

            transform: translate(-50%, -50%) scale(0) rotate(0deg);
            transition: transform 2s cubic-bezier(0.3, 1, 0.3, 1);
            z-index: -1;
        }
        &:hover::before {
            transform: translate(-50%, -50%) scale(1) rotate(-360deg);
        }
 
        span {
            display: inline-block;

            padding-top: 15px;
            padding-bottom: 16px;
            padding-right: 30px;
            padding-left: 30px;

            border-radius: 100px;
            background-color: #FFFFFF;

            font-family: var(--primary-font-family);
            color: var(--secondary-text-color);
            @include font-title($fs: 14px, $lh: 14px);

            transition: 0.2s;
        }
    }
    .sign-up {
        background-color: var(--brand-color);
        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            
            height: 100%;
            width: 100%;
            opacity: 0;
            
            border-radius: 100px;
            border: 3px solid var(--brand-color);
        
            background-color: #FFFFFF;
            transition: 0.3s ease-out;
        }
    
        &:hover::before {
            opacity: 1;
        }
        &:hover span {
            color: var(--secondary-text-color);
        }
        span {
            position: relative;
            display: inline-block;

            font-family: var(--primary-font-family);
            color: #EEEEEE;
            @include font-title($fs: 14px, $lh: 17px);

            transition: 0.2s;
      
        }
    }
}
// =====================================MOBILE MENU========================================================================//
.menu-wrapper {
    display: block;
    position: relative;

    width: 40px;
    height: 40px;

    border-radius: 10px;
    background-color: var(--brand-color);

    @media screen and (min-width: 1024px) {
        order: -1;
    }
    @media screen and (min-width: 1440px) {
        display: none;
    }

    &__button {
        position: absolute;

        width: 40px;
        height: 40px;
        
        border-radius: 10px;
        border: 0;
        background-color: transparent;

        z-index: 10;
    }
}
.menu {
    margin: 5px;
    margin-top: 7.5px;

    display: block;
    position: relative;

    width: 30px;
    height: 25px;

    text-align: right;
    z-index: 1;
    cursor: pointer;
}

.menu-close {
    position: absolute;
    top: 10px;
    right: 10px;
    
    font-size: 0em;
    opacity: 0;
    text-align: center;
    font-weight: bold;

    -webkit-transition: 0.2s;
    transition: 0.2s;
}

.menu-close-visible {
    top: -3px;
    right: 4px;

    font-size: 2em;
    opacity: 1;

    -webkit-transition: 0.2s 0.4s;
    transition: 0.2s 0.4s;
}

.menu-global {
    z-index: -1;
    position: absolute;
    right: 0;

    height: 5px;
    width: 100%;

    border-radius: 10px;
    background-color: var(--primary-bg-color);

    pointer-events: none;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    @media screen and (min-width: 1024px) {
        left: 0;
    }
}

.menu-top {
    top: 0px;
}

.menu-middle {
    top: 10px;
}

.menu-bottom {
    top: 20px;
}

.menu-text {
    padding: 10px 0;

    opacity: 0;
    font-size: 0em;
   
    -webkit-transition: 0.1s;
    transition: 0.1s;
}

.expand {
    padding: 5px;
    display: flex;
    justify-content: center;

    width: 270px;
    height: 50px;

    border-radius: 0;
    box-shadow: rgba(0, 0, 0, 0.1) -2.5px 5px 7.5px, rgba(0, 0, 0, 0.1) 2.5px 5px 7.5px;
    z-index: 4;

    pointer-events: auto;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.menu-top-expand {
    top: 50px;
    background: #6f63cc;

    -webkit-transition: all 0.5s 0.2s, left 0.1s;
    transition: all 0.5s 0.2s, left 0.1s;
}

.menu-middle-expand {
    top: 100px;
    background: #8176d3;

    -webkit-transition: all 0.5s 0.1s, left 0.1s;
    transition: all 0.5s 0.1s, left 0.1s;
}

.menu-bottom-expand {
    justify-content: space-between;
    top: 150px;
    height: 60px;
    background: #928ad9;
    z-index: 4;

    -webkit-transition: all 0.5s, left 0.1s;
    transition: all 0.5s, left 0.1s;
    @media screen and (min-width: 1024px) { 
        display: none;
    }
}

.menu-login {
    scale: (0.0);
    @include font-title($fw: 700, $fs: 22px, $lh: 24px);
    border-radius: 100px;
    border: 2px solid var(--brand-color);
    background-color: var(--primary-bg-color);

    z-index: 2;
    pointer-events: none;
}
.menu-login-active,
.menu-signin-active {
    &:active {
        -webkit-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
        box-shadow: 10px 10px 5px -6px rgba(0, 0, 0, 0.75);
    }
}

.menu-text-expand {
    padding: 10px;

    // display: block;
    color: #000000;
    opacity: 0.8;

    text-align: center;
    font-family: var(--primary-font-family);
    @include font-title($fw: 700, $fs: 28px, $lh: 24px);
    -webkit-transition: all 0.2s 0.7s, font-size 0.1s;
    transition: all 0.2s 0.7s, font-size 0.1s;
    z-index: 5;
    scale: (1);
    pointer-events: auto;

    &:hover {
        color: #000000
    }
}
// =======================================================MOBILE MENU END===========================================================//