.hero-wrapper {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 32px;
    padding-bottom: 32px;

    @media screen and (min-width: 1440px) {
        flex-direction: row;
        padding-top: 64px;
        padding-bottom: 64px;
    }

}
.promo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 32px;

    @media screen and (min-width: 1024px) {
        margin-top: 64px;
    }
    @media screen and (min-width: 1440px) {
        width: 412px;
        height: 577px;
    }
    

    &__link {
        font-family: var(--primary-font-family);
        @include font-title($fs: 14px, $lh: 17px);
        color: var(--accent-text-color);
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: flex-end;
        padding: 16px 32px;
        gap: 16px;
    
        width: 224px;
        height: 56px;

        background: #FFFFFF;
        box-shadow: 0px 548px 219px rgba(0, 0, 0, 0.01), 0px 308px 185px rgba(0, 0, 0, 0.04), 0px 137px 137px rgba(0, 0, 0, 0.06), 0px 34px 75px rgba(0, 0, 0, 0.07), 0px 0px 0px rgba(0, 0, 0, 0.07);
        border-radius: 100px;
        .icon {
            width: 24px;
            height: 24px;
        }
    }

    &__title {
        margin-top: 16px;
        font-family: var(--primary-font-family);
        @include font-title($fs: 40px, $lh: 48px);
        color: #000000;
        text-align: center;

        .accent {
            color: var(--accent-text-color);
        }

        @media screen and (min-width: 1024px) {
            @include font-title($fs: 56px, $lh: 67px);
            margin-top: 43px;
            padding-left: 130px;
            padding-right: 130px;
        }
        @media screen and (min-width: 1440px) {
            padding: 0;
            text-align: start;
            @include font-title($fs: 69px, $lh: 82px);
        }
    }
    &__text {
        margin-top: 24px;
        font-family: var(--secondary-font-family);
        @include font-text($fs: 16px, $lh: 26px);
        text-align: center;

        @media screen and (min-width: 1024px) {
            margin-top: 43px;
            @include font-title($fs: 18px, $lh: 29px);
        }
        @media screen and (min-width: 1440px) {
            text-align: start;
        }
    }
}
.button {

    &__list {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;

        @media screen and (min-width: 1024px) {
            flex-direction: row;
            margin-top: 43px;
        }
    }

    &__item {
        
        padding: 24px 32px;
        width: 398px;
        height: 65px;
        border-radius: 100px;

        @media screen and (min-width: 1024px) {
            padding: 16px 32px;
            width: 141px;
            height: 49px;
        }

        &.started {
            background: #5D50C6;
            box-shadow: 0px 81px 32px rgba(0, 0, 0, 0.01), 0px 45px 27px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.09), 0px 5px 11px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
        }

        &.demo {
            background: #FFFFFF;
            border: 1px solid #EEEEEE;
            @media screen and (min-width: 1024px) {
                width: 181px;
                height: 56px;
            }
        }
    }

    &__link {
        @include font-title($fs: 14px, $lh: 17px);
        font-family: var(--primary-font-family);
        text-align: start;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;

        &.started {
            color: #EEEEEE;
        }

        &.demo {
            color: var(--secondary-text-color);
        }
        

        .icon {
            width: 20px;
            height: 20px;
            margin-right: 8px;
        }
    }



}



.img-hero {
    background-image: url(../images/hero-layers.svg);
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (min-width: 1024px) {
        margin-left: 62px;
        margin-right: 62px;
        
    }

    &__list {
        position: relative;
        margin-top: 38px;
        margin-left: 46px;
        display: flex;
        flex-direction: column;

        width: 295px;
        @media screen and (min-width: 1024px) {
            width: 575px;
            margin-top: 75px;
            margin-left: 91px;
        }

    }

    &__item {
        &:first-child {
            padding-bottom: 16px;
            @media screen and (min-width: 1024px) {
                padding-bottom: 32px;
            }

        }
        
        .image {
            border-radius: 16.42px;
            width: 139px;

            @media screen and (min-width: 1024px) {
                border-radius: 32px;
                width: 272px;
            }
        }

        .absolute {
            position: absolute;
            top: 59px;
            right: 0;

            @media screen and (min-width: 1024px) {
                top: 116px;
            }


        }
    }

    &__icon {
        position: absolute;
        width: 33px;
        height: 33px;
        border-radius: 50%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 8px;
        gap: 4.11px;

        @media screen and (min-width: 1024px) {
            width: 64px;
            height: 64px;
            padding: 16px;
            gap: 8px;
        }

        &.message {
            background-color: #F85E9F;
            left: -16.4px;
            top: 136.5px;

            @media screen and (min-width: 1024px) {
                left: -32px;
                top: 266px;
            }
        }

        &.user {
            background-color: #FF5722;
            top: 291.65px;
            left: 196.6px;

            @media screen and (min-width: 1024px) {
                left: 383px;
                top: 574px;
            }
        }

    }

    &__link {
        position: absolute;
        top: 212px;
        left: 257px;
        display: flex;
        flex-direction: row;
        gap: 4px;
        align-items: center;
        padding: 8.21318px 16.4264px;
       
        width: 85.21px;
        height: 28.75px;
        background-color: var(--primary-bg-color);
        box-shadow: 0px 39.526px 15.913px rgba(0, 0, 0, 0.01), 0px 22.0729px 13.3464px rgba(0, 0, 0, 0.05);
        border-radius: 51.3324px;

        color: #393E46;
        @include font-title($fs: 7px, $lh: 8px);
        font-family: var(--primary-font-family);

        @media screen and (min-width: 1024px) {
            width: 166px;
            height: 56px;
            padding: 16px 32px;
            top: 413px;
            left: 501px;
            gap: 6px;
            @include font-title($fs: 14px, $lh: 17px);
        }
    }
}
.img-hero__link-icon {
    width: 12px;
    height: 12px;
    fill: #5D50C6;

    @media screen and (min-width: 1024px) {
        width: 24px;
        height: 24px;
    }
}

.company {
    padding: 32px 0px;

    @media screen and (min-width: 1024px){
        padding: 64px 0px;
    }


    &__list {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 27px;
        margin-left: auto;
        margin-right: auto;
        width: 398px;
        @media screen and (min-width: 1024px) {
            width: 568px;
        }
        @media screen and (min-width: 1440px) {
            flex-wrap: nowrap;
            width: 100%;
        }


    }

    &__item {
        width: calc((100% - 54px) / 3);
        
        &:nth-child(3n) {
            margin-right: 0px;
            margin-bottom: 32px;
        }
    }

    &__icon {
        width: 100%;
        height: 20px;
        fill: #191825;
        opacity: 0.5;
        transition-property: all;
        transition-timing-function: linear;
        transition: 1000ms;

        .company__item:hover &{
            fill:  var(--brand-color);
            transform: rotateX(360deg);
            opacity: 1;
        }

        @media screen and (min-width: 1024px) {
            height: 32px;
        }
    }
}