.hero-wrapper {
    display: flex;
    flex-direction: column-reverse;


}
.promo {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (min-width: 1024px) {
        margin-top: 64px;
    }

    

    &__link {
        font-family: var(--primary-font-family);
        @include font-title($fs: 14px, $lh: 17px);
        color: var(--accent-text-color);
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: flex-end;
        padding: 16px 32px;
        gap: 16px;
    
        width: 224px;
        height: 56px;

        background: #FFFFFF;
        box-shadow: 0px 548px 219px rgba(0, 0, 0, 0.01), 0px 308px 185px rgba(0, 0, 0, 0.04), 0px 137px 137px rgba(0, 0, 0, 0.06), 0px 34px 75px rgba(0, 0, 0, 0.07), 0px 0px 0px rgba(0, 0, 0, 0.07);
        border-radius: 100px;
        .icon {
            width: 24px;
            height: 24px;
        }
    }

    &__title {
        margin-top: 16px;
        font-family: var(--primary-font-family);
        @include font-title($fs: 40px, $lh: 48px);
        color: #000000;
        text-align: center;

        .accent {
            color: var(--accent-text-color);
        }

        @media screen and (min-width: 1024px) {
            @include font-title($fs: 56px, $lh: 67px);
            margin-top: 43px;
            padding-left: 130px;
            padding-right: 130px;

        }
    }
    &__text {
        margin-top: 24px;
        font-family: var(--secondary-font-family);
        @include font-text($fs: 16px, $lh: 26px);
        text-align: center;

        @media screen and (min-width: 1024px) {
            margin-top: 43px;
            @include font-title($fs: 18px, $lh: 29px);
        }
    }
}
.button {

    &__list {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;

    @media screen and (min-width: 1024px) {
        flex-direction: row;
        margin-top: 43px;
    }
    }

    &__item {
        
        padding: 24px 32px;
        width: 398px;
        height: 65px;
        border-radius: 100px;

        @media screen and (min-width: 1024px) {
            padding: 16px 32px;
            width: 141px;
            height: 49px;
        }

        &.started {
            background: #5D50C6;
            box-shadow: 0px 81px 32px rgba(0, 0, 0, 0.01), 0px 45px 27px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.09), 0px 5px 11px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
        }

        &.demo {
            background: #FFFFFF;
            border: 1px solid #EEEEEE;
            width: 181px;
            height: 56px;
        }
    }

    &__link {
        @include font-title($fs: 14px, $lh: 17px);
        font-family: var(--primary-font-family);
        text-align: start;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;

        &.started {
            color: #EEEEEE;
        }

        &.demo {
            color: var(--secondary-text-color);
        }
        

        .icon {
            width: 20px;
            height: 20px;
            margin-right: 8px;
        }
    }



}



.img-hero {
    margin-top: 32px;
    background-image: url(../images/hero-layers.svg);
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (min-width: 1024px) {
        margin-top: 64px;
        margin-left: 62px;
        margin-right: 62px;
        
    }

    &__list {
        position: relative;
        margin-top: 38px;
        margin-left: 46px;
        display: flex;
        flex-direction: column;

        width: 295px;
        @media screen and (min-width: 1024px) {
            width: 575px;
            margin-top: 75px;
            margin-left: 91px;
        }

    }

    &__item{
            &:first-child {
            padding-bottom: 16px;
            @media screen and (min-width: 1024px) {
                padding-bottom: 32px;
            }

        }
        
        .image {
            border-radius: 16.42px;
            width: 139px;

            @media screen and (min-width: 1024px) {
                border-radius: 32px;
                width: 272px;
            }
        }

        .absolute {
            position: absolute;
            top: 59px;
            right: 0;

            @media screen and (min-width: 1024px) {
                top: 116px;
            }


        }
    }
}
