// =========================== HERO SECTION CONTAINER =============================================//
.hero {
    position: relative;
    overflow-x: clip;
    &::before {
        @media screen and (min-width: 1024px) {
            content: '';
            position: absolute;
            bottom: -120px;
            right: -411px;

            width: 406px;
            height: 406px;

            background: #FACD49;
            opacity: 0.5;
            filter: blur(203px);
        }
        @media screen and (min-width: 1440px) {
            bottom: -200px;

            width: 500px;
            height: 500px;

            filter: blur(250px);
        }
    }
}
.hero-wrapper {
    padding-top: 32px;
    padding-bottom: 32px;

    display: flex;
    flex-direction: column-reverse;
    
    @media screen and (min-width: 1440px) {
        flex-direction: row;
        padding-top: 64px;
        padding-bottom: 64px;
    }
    &::after {
        @media screen and (min-width: 1024px) {
            content: '';
            position: absolute;
            bottom: 150px;
            left: 30px;

            width: 65px;
            height: 169px;
        
            background-image: url(../images/hero-left-img.png);
            @media (min-device-pixel-ratio: 2),
                (min-resolution: 192dpi),
                (min-resolution: 2dppx) {
                    background-image: url(../images/hero-left-img@2x.png);
                }
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}
// ==================================== HERO SECTION CONTAINER END===========================================================//

// ==================================== PROMO ===================================================//
.promo {
    margin-top: 32px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    @media screen and (min-width: 1024px) {
        margin-top: 64px;
    }
    @media screen and (min-width: 1440px) {
        width: 412px;
        height: 577px;
    }
    
    &__link {
        padding: 16px 32px;
        display: flex;
        flex-direction: row;
        text-align: center;
        align-items: flex-end;
        gap: 16px;

        width: 224px;
        height: 56px;

        font-family: var(--primary-font-family);
        @include font-title($fs: 14px, $lh: 17px);
        color: var(--accent-text-color);

        background: #FFFFFF;
        box-shadow: 0px 548px 219px rgba(0, 0, 0, 0.01), 0px 308px 185px rgba(0, 0, 0, 0.04), 0px 137px 137px rgba(0, 0, 0, 0.06), 0px 34px 75px rgba(0, 0, 0, 0.07), 0px 0px 0px rgba(0, 0, 0, 0.07);
        border-radius: 100px;
        transition: var(--transition-property);
        
        &:hover {
            color: var(--accent-text-color);
            box-shadow: 0px 81px 32px rgba(0, 0, 0, 0.01), 0px 45px 27px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.09), 0px 5px 11px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
        }

        .icon {
            width: 24px;
            height: 24px;
        }
    }

    &__title {
        margin-top: 16px;

        text-align: center;
        font-family: var(--primary-font-family);
        @include font-title($fs: 40px, $lh: 48px);
        color: #000000;
        
        .accent {
            color: var(--accent-text-color);
        }

        @media screen and (min-width: 1024px) {
            margin-top: 43px;
            padding-left: 130px;
            padding-right: 130px;

            @include font-title($fs: 56px, $lh: 67px);
        }

        @media screen and (min-width: 1440px) {
            padding: 0;

            text-align: start;
            @include font-title($fs: 69px, $lh: 82px);
        }
    }
    &__text {
        margin-top: 24px;

        text-align: center;
        font-family: var(--secondary-font-family);
        @include font-text($fs: 16px, $lh: 26px);

        @media screen and (min-width: 1024px) {
            margin-top: 43px;

            @include font-title($fs: 18px, $lh: 29px);
        }
        @media screen and (min-width: 1440px) {
            text-align: start;
        }
    }
}
.button {
    &__list {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 8px;

        width: 100%;

        @media screen and (min-width: 1024px) {
            margin-top: 43px;
            flex-direction: row;
        }
        @media screen and (min-width: 1440px) {
            justify-content: flex-start;
        }
    }
    &__item {
        width: 100%;

        @media screen and (min-width: 1024px) {
        width: 145px;
        }
    }
    &__link {
        padding: 24px 32px;

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        width: 100%;
        height: 65px;

        border-radius: 100px;

        text-align: start;
        @include font-title($fs: 14px, $lh: 17px);
        font-family: var(--primary-font-family);

        @media screen and (min-width: 1024px) {
            padding: 16px 32px;
            height: 49px;
        }
        &.started {
            border: none;

            background: #5D50C6;
            transition: var(--transition-property);
            color: #EEEEEE;
            
            &:hover {
                box-shadow: 0px 81px 32px rgba(0, 0, 0, 0.01), 0px 45px 27px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.09), 0px 5px 11px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
            }
        }
        &.demo {
            background: #FFFFFF;
            border: 1px solid #EEEEEE;
            color: var(--secondary-text-color);
            transition: var(--transition-property);
            @media screen and (min-width: 1024px) {
                width: 181px;
                height: 56px;
            }
            &:hover {
                box-shadow: 0px 81px 32px rgba(0, 0, 0, 0.01), 0px 45px 27px rgba(0, 0, 0, 0.05), 0px 20px 20px rgba(0, 0, 0, 0.09), 0px 5px 11px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
            }
        }
        .icon {
            margin-right: 8px;

            width: 20px;
            height: 20px;
        }
    }
}
// ==================================== PROMO END ===================================================//

// ==================================== BACKGROUND IMG ===================================================//
.img-hero {
    max-width: 100%;

    background-image: url(../images/hero-layers.svg);
    background-repeat: no-repeat;
    background-size: contain;

    @media screen and (min-width: 1024px) {
        margin-left: 62px;
        margin-right: 62px;
        
    }
    @media screen and (min-width: 1440px) {
        margin: 0;
    }

    &__list {
        position: relative;
        margin-top: 38px;
        margin-left: 46px;
        display: flex;
        flex-direction: column;

        width: 295px;

        @media screen and (min-width: 1024px) {
            margin-top: 75px;
            margin-left: 91px;
            width: 575px;
        }
    }
    &__item {
        &:first-child {
            padding-bottom: 16px;

            @media screen and (min-width: 1024px) {
                padding-bottom: 32px;
            }
        }
        .image {
            width: 139px;

            border-radius: 16.42px;

            @media screen and (min-width: 1024px) {
                width: 272px;

                border-radius: 32px;
            }
        }
        .absolute {
            position: absolute;
            top: 59px;
            right: 0;

            @media screen and (min-width: 1024px) {
                top: 116px;
            }
        }
    }
    &__icon {
        position: absolute;
        padding: 8px;

        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 4.11px;

        width: 33px;
        height: 33px;

        border-radius: 50%;

        @media screen and (min-width: 1024px) {
            padding: 16px;
            gap: 8px;

            width: 64px;
            height: 64px;
        }

        &.message {
            left: -16.4px;
            top: 136.5px;

            background-color: #F85E9F;

            @media screen and (min-width: 1024px) {
                left: -32px;
                top: 266px;
            }
        }
        &.user {
            top: 291.65px;
            left: 196.6px;

            background-color: #FF5722;
            box-shadow: 0px 77px 31px rgba(0, 0, 0, 0.01), 0px 43px 26px rgba(0, 0, 0, 0.05), 0px 19px 19px rgba(0, 0, 0, 0.09);
            border-radius: 50%;

            @media screen and (min-width: 1024px) {
                left: 383px;
                top: 574px;
            }
        }
    }
    &__link {
        position: absolute;
        padding: 8.21318px 16.4264px;
        top: 37px;
        left: 130px;

        display: flex;
        flex-direction: row;
        gap: 4px;
        align-items: center;
        
       
        width: 85.21px;
        height: 28.75px;

        background-color: var(--primary-bg-color);
        border-radius: 51.3324px;
        
        @include font-title($fs: 7px, $lh: 8px);
        font-family: var(--primary-font-family);
        color: #393E46;

        transition: var(--transition-property);
        animation: swing 6s infinite;
        animation-timing-function: ease-in-out;
        &:hover {
            animation: none;
            box-shadow: 0px 39.526px 15.913px rgba(0, 0, 0, 0.01), 0px 22.0729px 13.3464px rgba(0, 0, 0, 0.05);

        }

        @media screen and (min-width: 1024px) {
            padding: 16px 32px;
            top: 413px;
            left: 501px;
            gap: 6px;

            width: 166px;
            height: 56px;

            @include font-title($fs: 14px, $lh: 17px);
        }
        .icon {
            width: 12px;
            height: 12px;
            fill: #5D50C6;
        
            @media screen and (min-width: 1024px) {
                width: 24px;
                height: 24px;
            }
        }
    }
}
@keyframes swing {

    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 100% 50%;
    }

    10% {
        transform: rotate(2deg);
    }

    20%,
    40%,
    60% {
        transform: rotate(-4deg);
    }

    30%,
    50%,
    70% {
        transform: rotate(4deg);
    }

    80% {
        transform: rotate(-2deg);
    }

    90% {
        transform: rotate(2deg);
    }
}
// ==================================== BACKGROUND IMG END ===================================================//

// ==================================== COMPANY ICON ===================================================//
.company {
    padding: 32px 0px;

    @media screen and (min-width: 1024px){
        padding: 64px 0px;
    }


    &__list {
        margin-left: auto;
        margin-right: auto;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 27px;

        max-width: 380px;

        @media screen and (min-width: 1024px) {
            max-width: 568px;
        }
        @media screen and (min-width: 1440px) {
            flex-wrap: nowrap;

            max-width: 100%;
        }
    }
    &__item {
        width: calc((100% - 54px) / 3);
        &:nth-child(3n) {
            margin-right: 0px;
            margin-bottom: 32px;
        }
    }
    &__icon {
        width: 100%;
        height: 20px;
        fill: #191825;
        opacity: 0.5;

        transition-property: all;
        transition-timing-function: linear;
        transition: 700ms ease-in-out;

        .company__item:hover &{
            fill:  var(--brand-color);
            // transform: rotateX(360deg);

            opacity: 1;
        }
        @media screen and (min-width: 1024px) {
            height: 32px;
        }
    }
}
// ==================================== COMPANY ICON END===================================================//