.reviews {
    padding-top: 32px;
    padding-bottom: 32px;

    &__title {
        @include font-title($fs: 32px, $lh: 38px);
        color: var(--title-text-color);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        @media screen and (min-width: 1024px) {
            @include font-title($fs: 40px, $lh: 48px);
        }

        @media screen and (min-width: 1440px) {
            align-items: flex-start;
            text-align: start;
            @include font-title($fs: 44px, $lh: 53px);
        }

        &::before {
            content: 'Testimonials';
            @include font-title($fs: 16px, $lh: 19px);
            color: var(--accent-text-color);
            letter-spacing: 0.2em;
            text-transform: uppercase;
            text-align: center;

            @media screen and (min-width: 1024px) {
                @include font-title($fs: 23px, $lh: 28px);
            }

        }
    }
   
}
.reviews-swiper {
    position: relative;
    overflow-x: clip;
}

.reviews-list {
    padding-top: 64px;
    background-color: transparent;
    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        .img {
            display: block;
            width: 128px;
            height: 128px;
        }
    }
    &__title {
        margin-top: 64px;
        @include font-title($fs: 23px, $lh: 28px);
        color: rgba(25, 24, 37, 0.75);
        span {
            @include font-title($fs: 28px, $lh: 34px);
            color: #FF5722;
        }

    }
    &__text {
        margin-top: 64px;
        @include font-text($fw: 450);
        color: rgba(25, 24, 37, 0.75);
        text-align: center;
    }
}
.star-list {
    margin-top: 32px;

    display: flex;
    flex-direction: row;
    gap: 16px;

    .item {
        display: block;
        .icon {
            width: 32px;
            height: 32px;

        }
    }
}
.reviews-btn {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: 1024px) {
        margin-top: 64px;
        justify-content: center;
        gap: 32px;
    }

    @media screen and (min-width: 1440px) {
        margin-top: 0;
    }

    &__button {
        position: relative;
        width: 64px;
        height: 64px;
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid rgba(25, 24, 37, 0.1);
        transition: var(--transition-property);

        @media screen and (min-width: 1024px) {
            width: 100px;
            height: 100px;
        }

        &::before {
            position: absolute;
            content: '';
            border-radius: 100px;
            border: 2px solid var(--brand-color);
            top: 0;
            bottom: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;

            background-color: var(--brand-color);
            transition: var(--transition-property);
        }

        &:hover::before {
            opacity: 1;

        }
    }

    &__icon {
        width: 20px;
        height: 20px;
        position: relative;
        display: inline-block;
        transition: var(--transition-property);

        @media screen and (min-width: 1024px) {
            width: 26px;
            height: 26px;
        }

        .explore-btn__button:hover & {
            fill: #FFFFFF;
        }
    }
}