.services {
    // @media screen and (min-width: 1440px) {
    //     overflow: hidden;
    // }

    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 32px 16px;
        @media screen and (min-width: 1440px) {
            overflow-x: clip;
            flex-direction: row;
        }
        

    }
    &__text {
        text-align: center;
        letter-spacing: 0.2em;
        text-transform: uppercase;
        color: var(--accent-text-color);
        @include font-title($fs: 16px, $lh: 19px);
        @media screen and (min-width: 1440px) {
            text-align: start;
        }
        
    }
    &__title {
        margin-top: 16px;
        text-align: center;
        @include font-title($fs: 32px, $lh: 38px);
        color: var(--title-text-color);
        @media screen and (min-width: 1440px) {
            text-align: start;
            width: 336px;
        }
    }

    &__list {
        margin-top: 32px;
        gap: 16px;
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        scroll-behavior: smooth;

        @media screen and (min-width: 1024px) {
            flex-direction: row;
        }
        @media screen and (min-width: 1440px) {
            flex-grow: 1;
            gap: 21px;

        }
    }
}

.text-wrapper {
    @media screen and (min-width: 1440px) {
        flex-grow: 1;
        margin-right: 40px;
    }
}

.categories {
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:32px;
    background: var(--primary-bg-color);
    border: 1px solid rgba(25, 24, 37, 0.1);
    border-radius: 32px;
    transition: 500ms;
    @media screen and (min-width: 1024px) {
        padding: 64px;
    }
    @media screen and (min-width: 1440px) {
        width: 350px;
        height: 443px;
    }

    &:hover {
        box-shadow: 0px 41px 89px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    }

    &__img {
        width: 64px;
        @media screen and (min-width: 1024px) {
            margin-bottom: 32px;
        }
    }

    &__title {
        @include font-title($fs: 24px, $lh: 29px);
        color: var(--title-text-color);
        text-align: center;
    }
    &__text {
        text-align: center;
    }



}



.explore {
    margin-top: 32px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
    min-width: 0;
    // overflow-x: clip;
    @media screen and (min-width: 1024px) {
        margin-top: 64px;
        margin-bottom: 64px;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 1440px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
}
.explore-title {
    &__text {
        @include font-title($fs: 16px, $lh: 19px);
        color: var(--accent-text-color);
        letter-spacing: 0.2em;
        text-transform: uppercase;
        text-align: center;
        @media screen and (min-width: 1024px) {
            @include font-title($fs: 23px, $lh: 28px);
        }
        @media screen and (min-width: 1440px) {
            text-align: start;
        }
    }
    &__title {
        margin-top: 16px;
        @include font-title($fs: 32px, $lh: 38px);
        color: var(--title-text-color);
        text-align: center;
        @media screen and (min-width: 1024px) {
            @include font-title($fs: 40px, $lh: 48px);
        }
        @media screen and (min-width: 1440px) {
            text-align: start;
            @include font-title($fs: 44px, $lh: 53px);
        }
    }
}
.explore-btn {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    @media screen and (min-width: 1024px) {
        margin-top: 64px;
        justify-content: center;
        gap: 32px;
    }
    @media screen and (min-width: 1440px) {
        margin-top: 0;
    }
    &__button {
        position: relative;
        width: 64px;
        height: 64px;
        background-color: transparent;
        border-radius: 50%;
        border: 1px solid rgba(25, 24, 37, 0.1);
        transition: var(--transition-property);
        @media screen and (min-width: 1024px) {
            width: 100px;
            height: 100px;
        }
        
        &::before {
            position: absolute;
            content: '';
            border-radius: 100px;
            border: 2px solid var(--brand-color);
            top: 0;
            bottom: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;

            background-color: var(--brand-color);
            transition: var(--transition-property);
        }

        &:hover::before {
            opacity: 1;

        }
    }
    
    &__icon {
        width: 20px;
        height: 20px;
        position: relative;
        display: inline-block;
        transition: var(--transition-property);
        @media screen and (min-width: 1024px) {
            width: 26px;
            height: 26px;
        }

        .explore-btn__button:hover & {
            fill: #FFFFFF;
        }
    }
}
.explore-img {
    padding-top: 32px;
    padding-bottom: 32px;
    @media screen and (min-width: 1024px) {
        padding-top: 64px;
        padding-bottom: 64px;
    }
    &__item {
        position: relative;
        border-radius: 32px 32px 32px 32px;
        border: 1px solid rgba(25, 24, 37, 0.1);
        transition: var(--transition-property);
        
        // @media screen and (min-width: 1024px) {
        //     width: calc((100% - 62px)/3);
        //     height: 575px;

        //     &:nth-child(3n) {
        //         margin-right: 0;
        //     }
        // }
        .pic {
            display: block;
            width: 100%;
        }
        &:hover {
            box-shadow: 0px 513px 205px rgba(0, 0, 0, 0.01), 0px 288px 173px rgba(0, 0, 0, 0.03), 0px 128px 128px rgba(0, 0, 0, 0.04), 0px 32px 71px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
        }
    }
}

.card{
    position: relative;
    padding: 32px;
    display: flex;
    flex-direction: column;
    
    
    .title {
        margin-top: 8px;
        @include font-title($fs: 23px, $lh: 28px);
        color: var(--title-text-color);
        @media screen and (min-width: 1440px) {
            margin-top: 0;

            width: 235px;
        }
    }
    .text {
        margin-top: 16px;
        font-family: var(--secondary-font-family);
        color: rgba(25, 24, 37, 0.75);
        @include font-text;
    }
    .rate {
        margin-top: 32px;
        @include font-title($fs: 23px, $lh: 28px);
        color: #FF5722;
        display: flex;
        align-items: center;
        gap: 10px;
        .icon {
            width: 24px;
            height: 24px;
        }
    }
    .price {
        @include font-title($fs: 23px, $lh: 28px);
        color: var(--accent-text-color);
        order: -1;
        @media screen and (min-width: 1440px) {
            position: absolute;
            top: 32px;
            right: 32px;
        }
    }
    
}
// .slide-img {
//     overflow: hidden;
// }

