// ==================================== SERVICES  ===================================================//
.services {
    overflow-x: hidden;

    &__wrapper {
        padding: 32px 16px;

        display: flex;
        flex-direction: column;
        align-items: center;
        
        min-width: 0;
        @media screen and (min-width: 1440px) {
            flex-direction: row;
        }
    }
    &__title {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        text-align: center;
        @include font-title($fs: 32px, $lh: 38px);
        color: var(--title-text-color);

        @media screen and (min-width: 1440px) {
            text-align: start;
            width: 336px;
            align-items: flex-start;
        }

        &::before {
            content: 'Services';

            text-align: center;
            text-transform: uppercase;
            @include font-title($fs: 16px, $lh: 19px);
            letter-spacing: 0.2em;
            color: var(--accent-text-color);
            
            @media screen and (min-width: 1440px) {
                text-align: start;
            }
        }
    }
    &__list {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        flex-grow: 0;
        gap: 16px;
        
        scroll-behavior: smooth;
        z-index: 2;

        @media screen and (min-width: 1024px) {
            flex-direction: row;
        }
        @media screen and (min-width: 1440px) {
            flex-grow: 1;
            gap: 21px;
        }
    }
    &__item {
        @media screen and (min-width: 1024px) {
            width: calc((100% - 32px)/2);
        }
    }
}
.text-wrapper {
    @media screen and (min-width: 1440px) {
        margin-right: 40px;
        flex-grow: 1;
    }
}
.categories {
    padding: 32px;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap:32px;

    background: var(--primary-bg-color);
    border: 1px solid rgba(25, 24, 37, 0.1);
    border-radius: 32px;

    transition: var(--transition-property);
    @media screen and (min-width: 1024px) {
        padding: 64px;
    }
    @media screen and (min-width: 1440px) {
        width: 350px;
        height: 443px;
    }

    &:hover {
        box-shadow: 0px 41px 89px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
    }

    &__img {
        width: 64px;

        @media screen and (min-width: 1024px) {
            margin-bottom: 32px;
        }
    }

    &__title {
        text-align: center;

        @include font-title($fs: 24px, $lh: 29px);
        color: var(--title-text-color);
    }
    &__text {
        text-align: center;
    }
}
// ==================================== SERVICES END  ===================================================//

// ==================================== EXPLORE  ===================================================//
.explore {
    margin-top: 32px;
    margin-bottom: 32px;

    display: flex;
    flex-direction: column;

    min-width: 0;
    @media screen and (min-width: 1024px) {
        margin-top: 64px;
        margin-bottom: 64px;
    }
    &__wrapper {
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 1440px) {
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
        }
    }
}
.explore-title {
    &__title {
        margin-top: 16px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        text-align: center;
        @include font-title($fs: 32px, $lh: 38px);
        color: var(--title-text-color);
        
        @media screen and (min-width: 1024px) {
            @include font-title($fs: 40px, $lh: 48px);
        }
        @media screen and (min-width: 1440px) {
            align-items: flex-start;
            text-align: start;
            @include font-title($fs: 44px, $lh: 53px);
        }
        &::before {
            content: 'Top Destination';

            text-transform: uppercase;
            text-align: center;
            @include font-title($fs: 16px, $lh: 19px);
            color: var(--accent-text-color);
            letter-spacing: 0.2em;
        
            @media screen and (min-width: 1024px) {
                @include font-title($fs: 23px, $lh: 28px);
            }
        }
    }
}
.explore-btn {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    @media screen and (min-width: 1024px) {
        margin-top: 64px;
        justify-content: center;
        gap: 32px;
    }
    @media screen and (min-width: 1440px) {
        margin-top: 0;
    }
    &__button {
        position: relative;

        width: 64px;
        height: 64px;

        background-color: transparent;
        border-radius: 50%;
        border: 1px solid rgba(25, 24, 37, 0.1);

        transition: var(--transition-property);
        @media screen and (min-width: 1024px) {
            width: 100px;
            height: 100px;
        }
        
        &::before {
            content: '';

            position: absolute;
            top: 0;
            right: 0;

            height: 100%;
            width: 100%;
            opacity: 0;

            border-radius: 100px;
            border: 2px solid var(--brand-color);
            
            background-color: var(--brand-color);
            transition: var(--transition-property);
        }
        &:hover::before {
            opacity: 1;
        }
    }
    &__icon {
        position: relative;
        display: inline-block;

        width: 20px;
        height: 20px;
        
        transition: var(--transition-property);

        @media screen and (min-width: 1024px) {
            width: 26px;
            height: 26px;
        }
        .explore-btn__button:hover & {
            fill: #FFFFFF;
        }
    }
}
.slide-img {
    padding: 32px 14px;
    overflow-x: hidden;
    @media screen and (min-width: 1440px) {
        padding: 32px 20px;
    }

}
.explore-img {
    @media screen and (min-width: 1024px) {
        padding-top: 64px;
        padding-bottom: 64px;
    }
    &__item {
        position: relative;

        border-radius: 32px 32px 32px 32px;
        border: 1px solid rgba(25, 24, 37, 0.1);

        transition: var(--transition-property);

        overflow: hidden;
        &:hover {
            -webkit-box-shadow: 0px -5px 37px -19px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: 0px -5px 37px -19px rgba(0, 0, 0, 0.75);
            box-shadow: 0px -5px 37px -19px rgba(0, 0, 0, 0.75);
        }
        .pic {
            display: block;
            width: 100%;
        }
    }
}
.card {
    padding: 32px;
    position: relative;
    display: flex;
    flex-direction: column;

    .title {
        margin-top: 8px;
        @include font-title($fs: 23px, $lh: 28px);
        color: var(--title-text-color);
        @media screen and (min-width: 1440px) {
            margin-top: 0;
            width: 235px;
        }
    }
    .text {
        margin-top: 16px;
        font-family: var(--secondary-font-family);
        @include font-text;
        color: rgba(25, 24, 37, 0.75);
    }
    .rate {
        margin-top: 32px;
        display: flex;
        align-items: center;
        gap: 10px;

        @include font-title($fs: 23px, $lh: 28px);
        color: #FF5722;
        
        .icon {
            width: 24px;
            height: 24px;
        }
    }
    .price {
        order: -1;

        @include font-title($fs: 23px, $lh: 28px);
        color: var(--accent-text-color);

        @media screen and (min-width: 1440px) {
            position: absolute;
            top: 32px;
            right: 32px;
        }
    }
}
// ==================================== EXPLORE END  ===================================================//


